# Dependencies
node_modules/
client/node_modules/
server/node_modules/
mobile/node_modules/

# Production build output
client/dist/
dist/

# Environment variables
.env
*.env
.env.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# System files
.DS_Store
Thumbs.db
